<div class="thumbnail-container">
    <div class="thumbnail" routerLink="../std-feedetails">
        <mat-icon>paid</mat-icon>
        <div><b>2000</b></div>
        <div>Fee details</div>
    </div>
    <div class="thumbnail" routerLink="../std-librarydetails" >
        <mat-icon>article</mat-icon>
        <div><b>200</b></div>
        <div>Library Details</div>
    </div>
    <div class="thumbnail" routerLink="../std-book">
        <mat-icon>import_contacts</mat-icon>
        <div><b>200</b></div>
        <div>books</div>
    </div>
    <div class="thumbnail" routerLink="../std-application">
        <mat-icon>message</mat-icon>
        <div><b>200</b></div>
        <div>Application</div>
    </div>
     <div class="thumbnail" routerLink="../std-notification" >
        <mat-icon>notifications</mat-icon>
        <div><b>200</b></div>
        <div>Notification</div>
    </div>
     <div class="thumbnail" routerLink="../std-exam">
        <mat-icon>border_color</mat-icon>
        <div><b>200</b></div>
        <div>Exam</div>
    </div>
</div>

