<header class="navbar ">
  <div class="navbar-left  ">
    <img routerLink="/home" src="assets/logo.png" alt="unique school Logo" class="logo" />
    <h2 class="logo" routerLink="/home">Unique School</h2>
    <nav class="nav-links">
  
      
      <!-- <a href="#">Why LittleLives</a>
      <a href="#">Community</a>
      <a href="#">Pricing</a> -->
    </nav>
  </div>

  <div class="navbar-right">
    <!-- <a  href="#"><mat-icon class="text-blackrounded-3xl">home</mat-icon></a> -->
    <button class="login-btn " routerLink="/login">Login</button>
    <!-- <button class="demo-btn">Get Free Demo</button> -->
  </div>
</header>
