<div>
    <mat-toolbar>
       <span class="p-3">Manage Fee Recipits</span>
       <span class="example-spacer"></span>
      <mat-icon routerLink="../fee" class="pb-4">cancel</mat-icon>
      </mat-toolbar>
</div>
<div class="bg-white border ">
    <form [formGroup]="add_fee">
        <mat-form-field class="example-form-field padding ">
            <mat-label class="p-1">Student Id</mat-label>
            <input matInput type="number" required="" formControlName="std_id" (keyup)="getstd($event)">
          </mat-form-field>
           <!-- class -->
       <mat-form-field appearance="fill" class="example-form-field padding ">
        <mat-label>Class</mat-label>
       <mat-select required="" formControlName="class_id">
         <mat-option *ngFor="let class of class"[value]="class.class_id">{{class.class_name}}</mat-option>   
       </mat-select>
      </mat-form-field>
          
            <mat-form-field color="accent" appearance="fill" class="example-form-field padding">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fee_date">
            <mat-hint>YYYY/MM/DD</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
         
          <mat-form-field class="example-form-field padding ">
            <mat-label class="p-1">Dues Amount</mat-label>
            <input matInput type="number" required="" formControlName="std_due">
          </mat-form-field>
          <mat-form-field class="example-form-field padding ">
            <mat-label class="p-1">Recive amount</mat-label>
            <input matInput type="number" required="" formControlName="fee_rcv" (keyup)="calcfee($event)">
          </mat-form-field>
          <mat-form-field class="example-form-field padding ">
            <mat-label class="p-1">Total Paid</mat-label>
            <input matInput type="number" required="" formControlName="fee_paid" (keyup)="calcfee($event)">
          </mat-form-field>
          
          
          <div class="text-center">
            <button  class="btn text-white btn-danger m-4">&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <button  class="btn text-white btn-primary m-4">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <button  class="btn text-white btn-success m-4"(click)="onSave()" (click)="updatefee()">&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
     </form>
   
</div>
