mat-toolbar{
    background-color:white;
    color: #FE8E0B;
}
.mat-icon{
    color: #FE8E0B;
    font-size: 35px;
    width: 35px;
    height: 35px;
}
.example-form {
  min-width: 150px;
  max-width: 230px;
  width: 100%;
  position: relative;
  top: 10px;
}
  
  .example-full-width {
    width: 200px;
    height: 70px;
  }
/* table css */
table {
    width: 100%;
  }
   table th{
    background-color: #FE8E0B;
    color: white;
   }
   .table_scroll{
    overflow-x: auto;
  }
  @media(max-width:420px){
    .mat-icon{
      font-size: 25px;
  }
  .example-full-width {
    width: 150px;
    height: 70px;
  }
  .example-form {
    position: relative;
    top: 10px;
    left: 20px;
    /* right: -60px; */
  }
  }