<div class="thumbnail-container">
    <div class="thumbnail" routerLink="../libr-salarydetails">
        <mat-icon>paid</mat-icon>
        <div><b>2000</b></div>
        <div>Salary</div>
    </div>
    <div class="thumbnail" routerLink="../libr-library-details" >
        <mat-icon>article</mat-icon>
        <div><b>200</b></div>
        <div>Library Details</div>
    </div>
    <div class="thumbnail"  routerLink="../libr-books">
        <mat-icon>books</mat-icon>
        <div><b>200</b></div>
        <div>Books</div>
    </div>
    <div class="thumbnail" routerLink="../libr-application" >
        <mat-icon>notebook</mat-icon>
        <div><b>200</b></div>
        <div>Application</div>
    </div>
     <div class="thumbnail" routerLink="../libr-notification">
        <mat-icon>notifications</mat-icon>
        <div><b>200</b></div>
        <div>Notification</div>
    </div>
</div>
