<section class="opinion-section py-5">
  <div class="container text-center">
    <h2 class="section-title mb-3">Your opinion is everything</h2>
    <p class="sub-title mb-5">Trusted by <br><span class="highlight-text">14,000+ Educators in 1,800 schools in 12+ countries</span></p>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="testimonial-card">
          <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="User" class="user-img">
          <h5 class="user-name">User Name</h5>
          <p class="user-role">Occupation Here</p>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur. Eti sed laoreet augue adipiscing. Egastas aliquet ipsum mattis porttitor lacus ut.</p>
          <p class="country">🇲🇾 Malaysia</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="testimonial-card">
          <img src="https://randomuser.me/api/portraits/men/2.jpg" alt="User" class="user-img">
          <h5 class="user-name">User Name</h5>
          <p class="user-role">Occupation Here</p>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur. Eti sed laoreet augue adipiscing. Egastas aliquet ipsum mattis porttitor lacus ut.</p>
          <p class="country">🇲🇾 Malaysia</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="testimonial-card">
          <img src="https://randomuser.me/api/portraits/women/3.jpg" alt="User" class="user-img">
          <h5 class="user-name">User Name</h5>
          <p class="user-role">Occupation Here</p>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur. Eti sed laoreet augue adipiscing. Egastas aliquet ipsum mattis porttitor lacus ut.</p>
          <p class="country">🇲🇾 Malaysia</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="testimonial-card">
          <img src="https://randomuser.me/api/portraits/men/4.jpg" alt="User" class="user-img">
          <h5 class="user-name">User Name</h5>
          <p class="user-role">Occupation Here</p>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur. Eti sed laoreet augue adipiscing. Egastas aliquet ipsum mattis porttitor lacus ut.</p>
          <p class="country">🇲🇾 Malaysia</p>
        </div>
      </div>
    </div>
  </div>
</section>