textarea{
  width: auto;
}
mat-toolbar{
  background-color:white;
  color: #FE8E0B;
}
.mat-icon{
  color: #FE8E0B;
  font-size: 35px;
  width: 35px;
  height: 35px;
  float: right;
}
/* .example-full-width {
    width: 800px;
  } */
/* .color{
    background-color:rgb(153, 146, 146);
    font-size: 18px;
    line-height: 25px;
    padding: 25PX;
    box-sizing: border-box;
    font-weight: lighter;
    text-align: justify; 
}  */
@media(max-width:991px) and (min-width:767px){
  textarea{
    width: 600px;
  }
}
@media(max-width:768px) and (min-width:550px){
  textarea{
    width: 500px;
    height: 250px;
  }
}
@media(max-width:551px) and (min-width:421px){
  textarea{
    width: 350px;
    height: 200px;
  }
}
@media(max-width:420px){
  textarea{
    width: 300px;
    height: 180px;
  }
}