<section class="why-section py-5">
    <div class="container text-center" >
      <h2 class="section-title">Why Unique School</h2>
      <p class="section-subtitle">The ways our platform helps</p>
  
      <div class="row justify-content-center mt-4">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card feature-card">
            <div class="card-body">
              <img src="https://cdn-icons-png.freepik.com/512/17853/17853165.png" alt="Save Time" class="mb-3 feature-icon">
              <h5 class="card-title">Save Time</h5>
              <p class="card-text">Save 80 hours on admin work for your school in a month.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card feature-card">
            <div class="card-body">
              <img src="https://png.pngtree.com/element_our/png/20180823/solution-innovation-icon-png_62312.jpg" alt="One Stop Solution" class="mb-3 feature-icon">
              <h5 class="card-title">Your-One-Stop-Solution</h5>
              <p class="card-text">Stay in control of your school’s operations anywhere, anytime.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card feature-card">
            <div class="card-body">
              <img src="assets/enhance-work-flow.jpg" alt="Enhance Workflow" class="mb-3 feature-icon">
              <h5 class="card-title">Enhance Workflow</h5>
              <p class="card-text">Streamline tasks and improve collaboration with parents.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card feature-card">
            <div class="card-body">
              <img src="assets/revenue.png" alt="Increase Revenue" class="mb-3 feature-icon">
              <h5 class="card-title">Increase Your Revenue</h5>
              <p class="card-text">Better resources for children lead to increased revenue.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  