<div id="head">
<div id="about-heading">About</div>
<div id="whygs">
    <div id="whygsimg">
        <img src="assets/images/slide1.jpg" alt="img">
    </div>

    <div id="whygstext">
        <p>
            <b>Unique  School </b>is one of the most trusted school in Panapur Dharampur,Hajipur(Vaishali).
            It is established in 2017.It is a creative and innovative school.
            Here the way of teaching is totally psychological based.

            We believe in learning the kind that will stand up in future years, occur best in an atmosphere of personal
            concern. Our trained and experienced staffs enjoy friendship with students and the warm feelings of
            mutual trust and esteem that enhance the classroom experience.

            We do emphasize scholarship that extends beyond our strong athletic programme. 
        </p>
    </div>
   
</div>
</div>