<div id="container">
    <app-header></app-header>
    <div id="wrapper">
        <h1>Reset Password</h1>
        <form action="">
           
        <label for="">Username</label><br>
        <input type="email" placeholder="Username"><br>
        <label for="">New Password</label><br>
        <input type="password" placeholder="New Password"><br>
            <label for="">Confirm Password</label><br>
            <input type="password" placeholder="Confirm Password" name="" id=""><br><br>
            <button>Reset</button>
        </form>
        
    </div>
    <app-footer></app-footer>
    </div>
