.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .fade-in-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .training-section {
    background: url('https://img.freepik.com/free-vector/background-gradient-design-wave-green-modern-abstract_343694-3963.jpg?semt=ais_hybrid&w=740') no-repeat center;
    background-size: cover;
    border-radius: 30px;
    padding: 60px 30px;
    color: #6c0a07;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .section-subtitle {
    font-size: 1.2rem;
    color: #59381b;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .section-title {
      font-size: 1.5rem;
    }
    .training-section {
      padding: 40px 20px;
      text-align: center;
    }
  }
  