<div class="fade-in-on-scroll training-section container my-5 py-5">
  <div class="row align-items-center">
    <div class="col-lg-6 text-center mb-4 mb-lg-0">
      <img
        src="https://www.cypherlearning.com/hs-fs/hubfs/solutions/solutions/instructor-led-teaching-header.png?width=662&height=500&name=instructor-led-teaching-header.png"
        class="img-fluid rounded"
        alt="Teacher Training"
      />
    </div>
    <div class="col-lg-6">
      <h2 class="section-title">Unique School</h2>
      <p class="section-subtitle">Supercharge Training for Teachers</p>
      <p data-aos="fade-up"
      data-aos-duration="3000" >
        We equip educators with the tools and knowledge they need through
        specialized online and on-site training programs, tailored to your
        school’s needs.
      </p>
      <!-- <button class="btn btn-primary mt-3"></button> -->
    </div>
  </div>
</div>
