<section class="experience-section">
  <div class="experience-header">Experience You Can Rely On</div>
  <div class="experience-grid">
    <div class="experience-card">
      <img src="https://imgengine.khaleejtimes.com/khaleejtimes/import/images/F--p5EiUBocts37Ac5cbeBuxnZc.png?width=1200&format=auto" alt="Experts" />
      <div class="experience-text">
        <h4>Trusted Partners</h4>
        <h3>Trusted by Industry Experts</h3>
        <p>
          We are accredited by the Ministry of Education, Singapore (MOE), Early Childhood Development Agency (ECDA)...
        </p>
      </div>
    </div>

    <div class="experience-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEmVBl6beq9KG9KtVzld8I8gY9WuGe-5CnfU22lCDZRyQLvrHxScHwetJHL9hXVgE9bFQ&usqp=CAU" alt="Support" />
      <div class="experience-text">
        <h4>Personalized Support</h4>
        <h3>1-on-1 Support</h3>
        <p>
          Get personalized support in-app, chat with us over the phone, and get school training. We’ve got a Training Academy with step-by-step videos too.
        </p>
      </div>
    </div>

    <div class="experience-card">
      <img src="https://i.pinimg.com/736x/f6/fb/4e/f6fb4e096a8956726541c10ba8a23a8f.jpg" alt="Global" />
      <div class="experience-text">
        <h4>Global Offices</h4>
        <h3>Singapore, Malaysia, Vietnam</h3>
        <p>
          Find a LittleLives module tricky? Get help over phone/chat or book training with our team in one of our offices.
        </p>
      </div>
    </div>

    <div class="location-card-container">
      <div class="location-card">
        <p><img src="https://flagsapi.com/SG/flat/24.png" />Singapore - 261 Waterloo Street, #03-36, Singapore 180261</p>
      </div>
      <div class="location-card">
        <p><img src="https://flagsapi.com/MY/flat/24.png" />Malaysia - Q02-07, Levi’s Platinum, Kuala Lumpur Sentral</p>
      </div>
      <div class="location-card">
        <p><img src="https://flagsapi.com/VN/flat/24.png" />Vietnam - No.35/45 Le Van Sy Street, Ward 13, HCM City</p>
      </div>
    </div>
  </div>
</section>