
<div id="gallery-main">
    <div id="gallery-heading">Gallery</div>
    <div id="gallery">
        <div class="gallery-img"><img  src="assets/images/event11.jpeg" alt=""></div>
        <div class="gallery-img"><img src="assets/images/event2.jpg" alt=""></div>
        <div class="gallery-img"><img src="assets/images/event3.jpg" alt=""></div>
        <div class="gallery-img"><img src="assets/images/event 4.jpg" alt=""></div>
        <div class="gallery-img"><img src="assets/images/event 5.jpg" alt=""></div>
        <div class="gallery-img"><img src="assets/images/event02.jpeg" alt=""></div>
    </div>
</div>