<div class="w-100 bg-white h-100 ">
    <div>
        <mat-toolbar>
           <span class="p-3"> {{(classid)?"Update class":"Add Class"}}</span>
           <span class="example-spacer"></span>
          <mat-icon routerLink="../class" class="pb-4">cancel</mat-icon>
          </mat-toolbar>
    </div>
    <div class=" border text-center pt-2 classform">
        <form [formGroup]=" add_class">
            <span class="h1 text-white ">Class</span>
            <mat-form-field class="example-form-field p-4">
                <mat-label class="p-1">Class</mat-label>
                <input matInput type="text" required="" formControlName="class_name">
              </mat-form-field>
              <mat-form-field class="example-form-field p-4">
                <mat-label class="p-1">Fee</mat-label>
                <input matInput type="text" required="" formControlName="class_fee">
              </mat-form-field>
              <button  class="btn btn-success w-75 p-3 mb-5"(click)="(classid)?onUpdate(): OnAdd()">{{(classid)?"Update ":"Add "}}</button>


        </form>
    </div>
    
</div>
