<div class="thumbnail-container">
    <div class="thumbnail" routerLink="../admin-student">
        <mat-icon>groups</mat-icon>
        <div><b>{{total_std}}</b></div>
        <div>Student</div>
    </div>
    <div class="thumbnail"routerLink="../admin-teacher" >
        <mat-icon >group</mat-icon>
        <div><b>{{this.total_teacher}}</b></div>
        <div>Teacher</div>
    </div>
    <div class="thumbnail" routerLink="../class">
        <mat-icon>class</mat-icon>
        <div><b>{{this.total_class}}</b></div>
        <div>Class</div>
    </div>
    <div class="thumbnail"routerLink="../application">
        <mat-icon>notebook</mat-icon>
        <div><b>{{this.total_application}}</b></div>
        <div>Application</div>
    </div>
    <div class="thumbnail" routerLink="../admin-librarian">
        <mat-icon>man</mat-icon>
        <div><b>{{this.total_librarian}}</b></div>
        <div>Librarian</div>
    </div>
    <div class="thumbnail" routerLink="../staff">
        <mat-icon>groups</mat-icon>
        <div><b>{{this.total_staff}}</b></div>
        <div>Staff</div>
    </div>
    <div class="thumbnail" routerLink="../subject">
        <mat-icon>subject</mat-icon>
        <div><b>{{this.total_subject}}</b></div>
        <div>Subject</div>
    </div>
    <div class="thumbnail" routerLink="../notification">
        <mat-icon>notifications</mat-icon>
        <div><b>{{this.total_notification}}</b></div>
        <div>Notification</div>
    </div>
    <div class="thumbnail" routerLink="../notification">
        <mat-icon>money</mat-icon>
        <div><b>{{this.total_expense}}</b></div>
        <div>Expense</div>
    </div>
</div>