<section class="hero-section flex flex-row">
    <div class="m-5">
      <div class="hero-content text-center">
      <h1 class=" font-weight-bold ">
        Unique School <br />
        <span class="text-cyan-500 font-bold typewriter" ><h1>Empowering Minds, Inspiring Futures!</h1></span>
      </h1>
      <p class="">
       At our school, every challenge is a chance to shine! Embrace your curiosity, support your peers, and strive for excellence. Together, we cultivate a community where dreams take flight and every student is empowered to reach their full potential. Let’s inspire one another to learn, grow, and make a difference!
      </p>
      <div class="hero-buttons">
        <button class="primary-btn" routerLink="/login" >Get Started</button>
        <!-- <button class="secondary-btn">Talk to Us</button> -->
      </div>
    </div>
     
    </div>
    <img class="flex flex-row rounded-full " src="assets/hero.png" alt="">
  </section>
  