<section class="hero-section flex flex-row">
    <div class="hero-content">
      <h1 class="text-4xl font-bol mb-4">
        Streamline Your <br />
        <span class="text-cyan-500 font-bold" >School Operations</span>
      </h1>
      <p>
        Empowering educators & children to achieve more through digital solutions and experience seamless school operations.
      </p>
      <div class="hero-buttons">
        <button class="primary-btn" routerLink="/login" >Get Started</button>
        <button class="secondary-btn">Talk to Us</button>
      </div>
     
    </div>
    <img class="flex flex-row rounded-full " src="assets/hero.png" alt="">
  </section>
  