<div class="thumbnail-container" [routerLink]="['/studenthome/batch']">
    <div  routerLink="../th-salary" class="thumbnail" >
        <mat-icon>paid</mat-icon>
        <div><b>2000</b></div>
        <div >Salary</div>
    </div>
    <div routerLink="../th-librarydetails" class="thumbnail" >
        <mat-icon>article</mat-icon>
        <div><b>200</b></div>
        <div>Library Details</div>
    </div>
    <div  routerLink="../th-exam"class="thumbnail" >
        <mat-icon>note</mat-icon>
        <div><b>200</b></div>
        <div>Exam</div>
    </div>
    <div routerLink="../th-application" class="thumbnail" >
        <mat-icon>notebook</mat-icon>
        <div><b>200</b></div>
        <div>Application</div>
    </div>
     <div  routerLink="../th-notification" class="thumbnail" >
        <mat-icon>notifications</mat-icon>
        <div><b>200</b></div>
        <div>Notification</div>
    </div>
</div>


