mat-toolbar{
    background-color:white;
    color: #FE8E0B;
}
.mat-icon{
    color: #FE8E0B;
    font-size: 35px;
    width: 35px;
    height: 35px;
    float: right;
}
.example-full-width {
    width: 64%;
  }
