mat-toolbar {
  background-color: white;
  color: #FE8E0B;
}
.mat-icon {
  color: #FE8E0B;
  font-size: 35px;
  width: 35px;
  height: 35px;
  float: right;
}

.mat-icon:hover {
  cursor: pointer;
}

.example-full-width {
  width: 800px;
}

/* .color {
  background-color: rgb(151, 144, 144);
  font-size: 18px;
  line-height: 25px;
  padding: 5PX;
  box-sizing: border-box;
  font-weight: lighter;
  text-align: justify;
} */
textarea{
  background-color: rgb(227, 231, 231);
}